extends ./page

block content
  .row
    #content.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
      div.article-front-matter
        p.authors
          if authors && authors.length
            each author, index in authors
              a(href=`/people/${author.fields.slug}`)!= author.fields.title
              if (index + 1) < authors.length
                | ,
        p.date-published!= helpers.dateFormat(Date.parse(date))
      if sourceLink
        - const link = fileIDMap[sourceLink.sys.id]
        if link && link.url
          - const linkUrl = helpers.url.parse(link.url)
          p.article-source-link
            | This article was originally published as#{' '}
            a(href=link.url target='_blank') #{link.title}#{' '}
            |  on#{' '}
            span.article-source-link-domain #{linkUrl.hostname}
            | &nbsp;#[i.fa.fa-external-link]

      != contents

      include ./components/series-pagination
