extends ./page

block header
	.col-md-10.col-md-offset-1
		h1.page-title.sr-only!= title

block content
	.home-content
		section.home-section.home-section-hero
			.row
				.col-md-10.col-md-offset-1
					!= contents
					.center
						a.btn.btn-primary.home-section-hero-learn-more(href="/ideas/introduction-to-effective-altruism") Learn more&hellip;
		.row.home-alternate-background
			.col-xs-10.col-xs-offset-1.col-md-5.col-md-offset-1
				section.home-section.home-section-cause-prioritisation-tool
					- var cptLink = "https://flowcharts-beta.effectivealtruism.org/flowchart/6H6rJK1nJ6OsCywOoS0Km8"
					h2 Not sure what cause you #[br.visible-md.visible-lg]should&nbsp;work&nbsp;on?
					p Use our #[a(href=cptLink target="_blank") cause prioritisation tool] to find out. 
					a.btn.btn-default(href=cptLink target="_blank") Open
			.col-xs-10.col-xs-offset-1.visible-xs.visible-sm
				hr.home-section-divider
			.col-xs-10.col-xs-offset-1.col-md-5.col-md-offset-0
				section.home-section.home-section-newsletter-signup
					h2 Join the effective #[br.visible-md.visible-lg]altruism&nbsp;newsletter
					p (Around one email per month, no spam)
					include ./components/newsletter-signup-small
		.row
			.col-md-5.col-md-offset-1
				section.home-section.home-section-key-ideas
					h2.home-section-title!= seriesSet['key-ideas'].file.title
						a.home-section-read-more-link(href="/ideas/") Read more...
					ul.home-section-key-ideas-list.list-unstyled
						each child in seriesSet['key-ideas'].children
							li.home-section-key-ideas-idea
								a(href=child.file.canonical)!= child.file.title
				
			.col-md-5
				section.home-section.home-section-effective-altruist-profiles
					h2.home-section-title!= seriesSet['featured-effective-altruists'].file.title
						a.home-section-read-more-link(href="/community/effective-altruist-profiles/") Read more...
					.row
						each child in seriesSet['featured-effective-altruists'].children
							.col-xs-6.col-sm-3.home-section-effective-altruist-profiles-profile
								a(href=child.file.canonical)
									img.img-responsive.home-section-effective-altruist-profiles-profile-image(src=child.file.photo.fields.file.url)
									p.home-section-effective-altruist-profiles-profile-title!= child.file.title
		.row
			.col-md-10.col-md-offset-1
				hr.home-section-divider
		section.home-section.home-section-quotations
			.row
				.col-md-10.col-md-offset-1
					.row
						each child in seriesSet['quotations-on-effective-altruism'].children
							- var quotation = child.file
							.col-md-6
								include ./components/quotation