extends ./page

block contentWrapper
    mixin divider
        .row
            .col-md-10.col-md-offset-1
                hr.home-section-divider
    section#content-wrapper
        .container
            include ./layout/warnings
        h1.page-title.sr-only!= title
        .home-content
            .container
                section.home-section.home-section-hero
                    .row
                        .col-md-6.col-md-offset-3
                            != contents
                            .center
                                a.btn.btn-primary.home-section-hero-learn-more(href="/articles/introduction-to-effective-altruism" id=slug+"-intro-learn-more-button") Learn more&hellip;
            .home-alternate-background
                .container
                    .row
                        .col-xs-10.col-xs-offset-1.col-md-5.col-md-offset-1
                            section.home-section.home-section-cause-prioritisation-tool
                                - var cptLink = "/cause-prioritization-tool/"
                                h2 Not sure what cause you&nbsp;#[br.visible-md.visible-lg]should&nbsp;work&nbsp;on?
                                p Use our #[a(href=cptLink id=slug+"-cause-prioritisation-tool-inline") cause prioritisation tool] to find out. 
                                a.btn.btn-default(href=cptLink id=slug+"-cause-prioritisation-tool-button") Try it now
                        .col-xs-10.col-xs-offset-1.visible-xs.visible-sm
                            hr.home-section-divider
                        .col-xs-10.col-xs-offset-1.col-md-5.col-md-offset-0
                            section.home-section.home-section-newsletter-signup
                                h2 Join the effective&nbsp;#[br.visible-xs.visible-md.visible-lg]altruism&nbsp;newsletter
                                p (Around one email per month, no spam)
                                include ./components/newsletter-signup
            .container
                .row
                    .col-md-5.col-md-offset-1
                        section.home-section
                            h2.home-section-title EA Concepts
                                a.home-section-read-more-link(href="https://concepts.effectivealtruism.org") Browse concepts...
                            a(href="https://podcast.effectivealtruism.org" target="_blank")
                                img(src='https://images.contentful.com/8zinz198djg3/dw7dh5FKakIWsimEiMKok/d67d9941fe66804764d7d86d5859cd5c/EA-Concepts---Logo-Horizontal.png')
                            p Effective altruism is a collection of concepts, drawn from a range of academic disciplines. See how they relate to each other at the new #[a(href="https://concepts.effectivealtruism.org") EA Concepts site].
                            .center
                                a.btn.btn-default(href="https://concepts.effectivealtruism.org") Browse EA Concepts
                                    i.fa.fa-sitemap
                    .col-md-5
                        section.home-section
                            h2.home-section-title Podcast
                                a.home-section-read-more-link(href="https://podcast.effectivealtruism.org" target="_blank") Listen...
                            a(href="https://podcast.effectivealtruism.org" target="_blank")
                                img(src='https://images.contentful.com/u1pn4te1j4jr/4vXOwc1E6seI4Cm0WcwcUc/498c468a04fd0041de0ce02560e3ec17/DGB-Podcast---Logo-Horizontal.png')
                            p #[em Doing Good Better] is a podcast looking at the why, the how, and the what of effective altruism. Available on #[a(href="https://podcast.effectivealtruism.org/how-to-listen/" target="_blank") iTunes, Soundcloud, Stitcher and more].
                            .center
                                a.btn.btn-default(href="https://podcast.effectivealtruism.org" target="_blank") Listen
                                    i.fa.fa-podcast

            .container
                .row
                    .col-md-5.col-md-offset-1
                        section.home-section.home-section-key-ideas
                            h2.home-section-title Reading
                                a.home-section-read-more-link(href="/resources/" id=slug+"-reading-read-more") Read more...
                            ul.home-section-key-ideas-list.list-unstyled
                                each child in seriesSet['articles'].children.slice(0,8)
                                    li.home-section-key-ideas-idea
                                        if child.type === 'article'
                                            a(href=child.file.canonical id=slug+"-reading-"+child.file.slug)
                                                != child.file.title
                                        if child.type === 'link'
                                            a(href=child.file.url target="_blank" id=slug+"-reading-"+slugify(child.file.url))
                                                != child.file.title
                                            | &nbsp;#[i.fa.fa-external-link]

                    .col-md-5
                        section.home-section.home-section-effective-altruist-profiles
                            h2.home-section-title!= seriesSet['featured-effective-altruists'].file.title
                                a.home-section-read-more-link(href="/community-profiles/" id=slug+"-community-profiles-read-more") Read more...
                            .row
                                each child in seriesSet['featured-effective-altruists'].children
                                    .col-xs-6.col-sm-3.home-section-effective-altruist-profiles-profile
                                        a(href=child.file.canonical id=slug+"-reading-"+child.file.slug)
                                            .home-section-effective-altruist-profiles-profile-image-wrapper
                                                .content
                                                    img.img-responsive.home-section-effective-altruist-profiles-profile-image(src=child.file.photo.fields.file.url)
                                            p.home-section-effective-altruist-profiles-profile-title!= child.file.title
                +divider
                section.home-section.home-section-quotations
                    .row
                        .col-md-10.col-md-offset-1
                            .row
                                each child in seriesSet['quotations-on-effective-altruism'].children
                                    - var quotation = child.file
                                    .col-md-6
                                        include ./components/quotation
                section.home-section.home-section-media
                    .row
                        .col-md-10.col-md-offset-1
                            h2.home-section-title Effective altruism in the media
                                a.home-section-read-more-link(href="/media/" id="home-link-readmore-media") More...
                            include ./components/media-highlights