extends ./layout

block header
	.row
		.col-md-10.col-md-offset-1
			include ./components/breadcrumbs
			h2.page-title.person-page-title(class=(!jobTitle || !jobTitle.length ? 'no-job-title' : ''))#page-title!= typogr.typogrify(title)
			if jobTitle && jobTitle.length
				p.person-job-title
					include ./helpers/job-title
					+jobTitle(jobTitle, organisations)
block content
	.row
		.col-md-10.col-md-offset-1
			.row
				.col-sm-3
					if photo
						img.img-responsive(src=photo.fields.file.url)
					if organisations && organisations.length
						.person-organisations
							h4.person-organisations-header Affiliated with:
							each organisation in organisations
								.row.person-organisation
									if organisation.fields.logo
										a(href=organisation.fields.website, target="_blank")
											.col-xs-6
												img.person-organisation-logo(src=organisation.fields.logo.fields.file.url) 
											.col-xs-12
												h5.person-organisation-title!= organisation.fields.title
									else
										.col-sm-12 
											a(href=organisation.fields.website, target="_blank")
												h5.person-organisation-title!= organisation.fields.title
													|  
													i.fa.fa-external-link
				.col-sm-9#content
					!= contents
	.row
		.col-md-10.col-md-offset-1
			.row
				.col-md-9.col-md-offset-3
					include ./components/series-pagination