- var chaptersMapped = {}
- Object.keys(countryData.regions).forEach(regionId => { chaptersMapped[regionId] = [] })
- chapters.forEach(chapter => { Object.keys(countryData.regions).filter(regionId => countryData.regions[regionId].countries.includes(chapter.countryCode)).forEach(regionId => { chaptersMapped[regionId].push(chapter) }) })
each _chapters, regionId in chaptersMapped
  if _chapters.length
    h2!=countryData.regions[regionId].name
    table.table
      thead
        tr
          th Name
          th Contact Email
          th Online
      tbody
        each chapter in _chapters
          tr
            td
              a(href=`/chapters/${chapter.slug}/`)!= chapter.title
            td
              a(data-email-scramble href=helpers.emailScramble.encode(`mailto:${chapter.contactEmail}`))!= helpers.emailScramble.encode(chapter.contactEmail)
            td
              ul.list-unstyled
                if chapter.website
                  li
                    a(href=chapter.facebook target='_blank')
                      i.fa.fa-globe
                      |  Website
                if chapter.facebook
                  li
                    a(href=chapter.facebook target='_blank')
                      i.fa.fa-facebook
                      |  Facebook
