if quotation && quotation.contentType === 'quotation'
    .quotation
        - var contentType = quotation.source.sys.contentType.sys.id
        - var source = quotation.source.fields
        - var img = contentType === 'person' ? (source.photo ? source.photo.fields.file.url : false) : (source.logo ? source.logo.fields.file.url : false)
        if img
            img.quotation-author-image(src=img+'?w=100&q=50&h=100&fit=thumb')
        blockquote.quotation-text
            != quotation.contents
        .quotation-source
            p.quotation-source-title!= source.title
            - var jobTitle = contentType === 'person' ? source.jobTitle : false
            - var affiliatedOrganisation = contentType === 'person' && source.organisations ? source.organisations[0] : false
            - var orgDescription = contentType === 'organisation' ? source.description : false
            p.quotation-source-details
                if jobTitle
                    span.quotation-source-job-title!= jobTitle
                if jobTitle && affiliatedOrganisation
                    | ,
                if affiliatedOrganisation
                    - var affiliatedOrganisationFile = fileIDMap[affiliatedOrganisation.sys.id]
                    if affiliatedOrganisationFile
                        span.quotation-source-affiliated-organisation #[a(href=affiliatedOrganisationFile.website)= affiliatedOrganisationFile.title]
                if orgDescription
                    span.quotation-source-organisation-description!= orgDescription
