mixin embed(src, aspect, title, showModalOnLoad, height)
	- var aspectRatio = aspect || '16by9'
	- if (height) { aspectRatio = 'fixed' }
	- var parsedSrc = url.parse(src)
	- src = ['www.youtube.com'].indexOf(parsedSrc.hostname) > -1 && parsedSrc.pathname ==='/watch' && parsedSrc.query ? 'https://www.youtube.com/embed/'+parsedSrc.query.match(/v=([^&]*)/)[1] : src;
		if aspectRatio === 'full'
			- var modalId = slugify(parsedSrc.hostname+'-'+parsedSrc.pathname).replace(/\./g,'').replace(/\#/g,'')
			- var embedTitle = title || ''
			a.btn.btn-primary(id=modalId+'-launch' href="#") Launch #{embedTitle}
			include ../helpers/modal
			+modal(title,modalId+'-embed')
				.embed-responsive.embed-responsive-full
					iframe.embed-responsive-item(src=src)
			script.
				loadScript(function(){
					$('##{modalId}-embed').modal({
						show: #{showModalOnLoad||'false'}
					});
					$('##{modalId}-launch').click(function(event){
						event.preventDefault();
						$('##{modalId}-embed').modal('show');
					})
				})
		else
			.embed-responsive(class=('embed-responsive-'+aspectRatio), style= height ? `height: ${height};` : null)
				iframe.embed-responsive-item(src=src)