if file
	article.series-item.series-link
		h3.series-item-title(class=useNumbering?'series-item-title-numbered':'')
			a(href=file.url target="_blank")
				if useNumbering
					| #{index+1}. 
				!= file.title
				|  
				i.fa.fa-external-link
		p.series-link-domain
			i.fa.fa-globe
			!= file.url.match(/\/\/((.*?)\/|.*)/)[2]
		.series-item-excerpt!= file.contents
		//- if useReadMore
			.series-article-read-more
				|  
				a(href=file.canonical) Read More